
<div class="row column text-center">
  <h2>Here category will be displayed</h2>
  <hr>
</div>



<div class="row small-up-2 large-up-4">
 <%= @product.each do |product|%>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5><%= link_to product.name, product_path(product) %></h5>
        <p>$<%= product.price %></p>
        <%= link_to "Edit", edit_product_path(product), class: "button tiny" %>
         <%= link_to "Delete", product_path(product), method: :delete,
            data: { confirm: "Are you sure?"},
            class: "button tiny alert" %>
        <a href="#" class="button expanded">Buy</a><br>
    </div>
 <% end %>
</div> 
<div class="row column text-center">
    <%= will_paginate @product, renderer: FoundationPagination::Rails %>
</div>